@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

li {
    list-style: none;
}

:root {
    font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont, sans-serif
}

button {
    background: none;
    border: none;
}